<h1>All Moods</h1>

<table>
  <tr>
    <th>
    <% @moods.each do |mood| %>
      <%= link_to mood.name, mood_path(mood) %>
      <%= mood.score %><br>
      <% mood.images.each do |image| %>
      <a href="<%= image_path(image) %>"><img src="<%= image.name %>" alt="<%= image.mood.name %>" width="200"></a>
    <% end %>
    <br>
    <%= link_to "Add Image", new_image_path %> <br> <br>
  <% end %>
    </th>
  </tr>
</table>
