<div class="container">

  <div class="">
    <p class="display-4">All Moods</p>
  </div>

  <div class="row">

  <% @moods.each do |mood| %>
  <div class="m-2 border border-dark">

    <div class="badge badge-warning">
      <%= link_to mood.name, mood_path(mood) %>
      <%= mood.score %>
    </div>


    <div class="">
      <% mood.images.each do |image| %>
        <div class="m-2">
          <a href="<%= image_path(image) %>"><img src="<%= image.name %>" alt="<%= image.mood.name %>" width="200"></a>
        </div>
      <% end %>
    </div>

    <div class="">
      <%= link_to "Add Image", new_image_path %>
    </div>

  </div>
  <% end %>

  </div>
</div>
