<div class="container">
  <div class="">
    <p class="display-4">Create a Mood</p>
  </div>

  <div class="class="form-inline"">
    <%= form_for @mood do |f| %>
      <%= f.label "Mood" %>
      <%= f.text_field :name, class: "form-control mb-2 mr-sm-2" %>
      <%= f.label "Score" %>
      <%= f.number_field :score %>
      <%= f.submit nil, class: "btn btn-primary mb-2"%>
    <% end %>
  </div>
</div>
