<style>


.on_top {
  position: absolute;
  top:0;
  /* left:0; */
  width: 100%;
}

  .same_size {
      position: relative;
      float: left;
      width:  100%;
      height: 100%;
      background-position: 50% 50%;
      background-repeat:   no-repeat;
      background-size:     cover;
      opacity: 0.5;
  }
.background {
      background-color: black;
      position: relative;
  }

  .text_on_background {
    top:0;
    left:0;
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
  align-items: center;
  }


.welcome {
   position: absolute;
   width: 100%;
   color: white;
   /* font-size: 3.5em; */
   left: 0;
   text-align:center;
   top: 400px;
}
.login {
  position: absolute;
  width: 100%;
  left: 0;
  top: 500px;
  text-align:center;
  color: white;
}

.form_fields {
  width: 30%;
}

</style>

<div class="container-fluid p-0 background">
  <% Image.order("RANDOM()").limit(9).in_groups_of(3, false) do |image_group| %>
  <div class="row no-gutters">
    <% image_group.each do |image| %>
    <div class="col-sm">
      <img src="<%= image.name %>" alt="<%= image.mood.name %>" class="img-fluid full-width same_size">
    </div>
    <% end %>
  </div>
<% end %>
</div>
<% if !current_user.id.present? %>
  <div class="container-fluid text_on_background p-0">
    <div class="col display-3" >
      <p>Welcome to the MoodBuster!</p>
      <div style="display: block; margin-left: auto; margin-right: auto; width: 30%;">
        <%= form_tag '/login', {class: "form-inline"} do %>

            <label for="name"></label>
            <%= text_field_tag :'user[name]', nil, {placeholder: "Your name", class: "form-control"} %>

            <label for="password"></label>
            <%= password_field_tag :'user[password]', nil, {placeholder: "Password", class: "form-control"} %>

            <%= submit_tag "Login", class: "btn btn-primary" %>
        </div>
        <div style="display: block; margin-left: auto; margin-right: auto;">
           <%= link_to "SignUp", new_user_path, class: "btn btn-danger btn-group-lg" %>
        </div>
        <% end %>
    </div>
  </div>
  <% else %>
  <div class="container-fluid text_on_background p-0">
    <div class="col display-3" >
      <p>MoodBuster Rocks!</p>
      <%= link_to "Go to your account", user_path(@user), class: "btn btn-danger btn-group-lg" %>
    </div>
  </div>
<% end %>
<!--
    <% if flash[:message] %>
      <i><%= flash[:message], style='alert alert-danger' %></i> <br>
    <% end %> -->
