<div class="container text-center">
  <h1 class="display-4">Whats your mood today, <%= @user.name %>?</h1>
  <h4> Choose some images:</h4>
</div>

<div class="container-fluid">
<div class="row">
  <%= form_for @user do |f| %>
    <% Image.all.in_groups_of(4, false).each do |array_of_three| %>
      <div class="col">
        <% array_of_three.each do |image| %>
          <%= check_box_tag "user[image_ids][]", image.id, @user.image_ids.include?(image.id), id: dom_id(image), class: "custom-checkbox" %>
          <%= label_tag dom_id(image) do%>
            <%= image_tag image.name, width: "250px", height: "180px" %>
        <!-- class: "student_card card_img card_size" -->
        <% end %>
    <% end %>
</div>
  <% end %>
  <div class="d-flex justify-content-center">
    <div class="p-2">
    <%= f.submit "Update Your Mood", class: "btn btn-warning align-center btn-lg" %>
    </div>
  </div>


<% end %>
</div>
</div>
