
<div class="container-fluid">
  <h1 class="text-center">Create an Account</h1>
  <div class="form-row">

  </div>
  <%= form_for @user do |f| %>
    <div class="form-group text-center">
      <!-- <%= f.label "Name" %> -->
      <%= f.text_field :name, placeholder: "Your Name", class: "form-control-lg" %>
    </div>

    <div class="form-group text-center">
      <!-- <%= f.label :password %> -->
      <%= f.password_field :password, placeholder: "Your Password", class: "form-control-lg" %>
    </div>

    <div class="form-group text-center">
      <!-- <%= f.label :password_confirmation %> -->
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control-lg" %>
    </div>
    <div class="form-group text-center">
  <%= f.submit "Create", class: 'btn btn-danger' %>
  </div>
  <% if flash[:notice] %>
  <div <div class="alert alert-danger text-center" role="alert">
    <strong><%= flash[:notice] %></strong>
  </div>
  <% end %>
<% end %>
</div>

</div>
